.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .App {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
  }
  .btns {
    border: 2px solid white;
    display: flex;
    flex-flow: row;
    width: 80%;
  }


  .btn {
    border-radius: 40px;
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
    margin: 2%;
  }

  .numBtn:nth-child(10) {
      width: 150px;
  }
  .numDiv {
    display: flex;
    flex-flow: column;
    width: 60%;
    height: 40%;
    border: 2px solid white;
  }

  .opDiv {
      display: flex;
      flex-flow: column;
      height: 500px;
      width: 100px;
      border: 2px solid white;  
  }



  

